# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables - CRITICAL AND SENSITIVE
config/config.env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
